:root {
  --black: #181d1c;
  --purple: #ea9eff;
  --white: #ffffff;
  --blue: #50ccfa;
}

@font-face {
  font-family: 'Space Mono';
  src: url('SpaceMono-Regular.woff2') format('woff2'),
    url('SpaceMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('SpaceMono-Bold.woff2') format('woff2'),
    url('SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* @media screen and (min-width: 768px) {
  #image-container {
    display: flex;
    justify-content: center;
  }

  #array-image {
    width: 10rem;
    justify-content: center;
    align-items: center;
  }
} */
